<section id="RelatorioView">

	<div data-bind="component: {name : 'mensagem', params:{ shouldShow : hasError(), mensagem: mensagemErro()}}">
	</div>

	<div data-bind="component: {name : 'cobranca-table', params: {title : 'Relatório de cobranças', total: total, cobrancas:cobrancas}}">
</div>
	<div class="row">
	<div class="col-md-6">
	<div class="panel-body" data-bind="if: showLink">
		<a target="_blank" data-bind="attr: { href: link }">Download as csv</a>
		<a target="_blank" data-bind="attr: { href: linkExport }">Export to csv</a>
		<div data-bind="component: {name : 'bars-chart', params: {cobrancas: cobrancas}}"></div>
	</div>

	<div role="form">
			<div class="form-group">
				<label> Despesa Recorrente </label>
				<select data-bind="options: despesasDisponiveis,
				optionsText: 'nome', 
				selectedOptions: despesasSelecionadas" 
				multiple="true"></select>

		    </div>
			<div class="form-group">
				<label> Mês Cobranca : inicio </label>
		    	<select data-bind="options: mesesDisponiveis, 
		    			optionsText: 'dataFormatada',
		    			value: mesInicio,
		    			optionsCaption: 'Escolha o mês'"
		    			/>
		    </div>

		    <div class="form-group">
				<label> Mês Cobranca : fim </label>
		    	<select data-bind="options: mesesDisponiveis, 
		    			optionsText: 'dataFormatada',
		    			value: mesFim,
		    			optionsCaption: 'Escolha o mês'"
		    			/>
		    </div>
		    
		    <button class="btn btn-default" data-bind='click: buscaCobrancas'> Buscar </button>
		</div>
</div>
</div>

</section>