<section id="CobrancaForm">
<div class="row">
<div class="col-md-10">
	<div class="form-group col-md-2">
		<label> Mês Cobranca </label>
    	<select data-bind="options: mesesDisponiveis, 
    			optionsText: 'dataFormatada',
    			value: mesSelecionado,
    			optionsCaption: 'Escolha o mês'"/>
    </div>
    <div class="form-group col-md-2">
		<label> Valor </label>
		<input type='text' pattern='\d+(\.)\d{2}' data-bind="value: valor"/>
    </div>
   	<button class="btn btn-default" data-bind="click: geraCobranca"> Criar </button>

</div>
</div>
</section>

<section id='DespesaView'>

<section id="CobrancaView"></section>

<div data-bind="component: {name : 'line-chart', params: {cobrancas: cobrancas}}"></div>

</section>

